RewriteEngine on
RewriteCond %{REQUEST_URI} !/favicon.ico [NC]
RewriteCond %{REQUEST_URI} !/css/* [NC]
RewriteCond %{REQUEST_URI} !/js/* [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php